<!DOCTYPE html>
<html>
  <head>
    <title>Compass</title>
  </head>
  <body>
    <main>
      <form action="/admin/add-new-doctor" method="post">
        <input type="email" name="email" placeholder="Email" required />
        <input type="text" name="name" placeholder="name" required />
        <input type="text" name="surname" placeholder="surname" required />
        <button type="submit">Submit new user</button>
      </form>

      <a href="/pdf" target="_blank">DEMO PDF</a>
    </main>
  </body>
</html>
