<html>
  <head>
    <title>Loading</title>
    <script type="text/javascript">
      function changeLink() {
        document.getElementById("link").innerHTML = getMobileOperatingSystem();
      }

      function getMobileOperatingSystem() {
        var userAgent = navigator.userAgent || navigator.vendor || window.opera;

        // Windows Phone must come first because its UA also contains "Android"
        if (/windows phone/i.test(userAgent)) {
          return "windows-link";
        }

        if (/android/i.test(userAgent)) {
          return "android-link";
        }

        // iOS detection from: http://stackoverflow.com/a/9039885/177710
        if (/iPad|iPhone|iPod/.test(userAgent) && !window.MSStream) {
          return "ios-link";
        }

        return "ios-link"; // default
      }
    </script>
  </head>
  <body>
    <div id="link"></div>
  </body>
</html>
